#addbody
{
	position:absolute;
    top:25%;
   	left:15%;
}


#backtosearch
{
	float: right;
}

#transf
{
  	background-color: #eeffe6;
  	border-style: groove;
  	border-width: 1px;

}
#transformer
{
	background-color: #dfffdf;
	padding:38;
	position:absolute;
	right:43px;
	border-bottom-right-radius: 25px;
}


#meter
{
	background-color: #dcffcc;
	border-style: groove;
  	border-width: 1px;

}
#met
{
	background-color: #dfffdf;
	padding:38;
	position:absolute;
	right:43px;
	border-bottom-right-radius: 25px;	
}


#mdp
{
	background-color: #cbffb3;
	border-style: groove;
  	border-width: 1px;

}
#mdb
{
	background-color: #dfffdf;
	padding:38;
	position:absolute;
	right:43px;
	border-bottom-right-radius: 25px;
}


#gen
{
	background-color: #b9ff99;
	border-style: groove;
  	border-width: 1px;

}
#generator
{
	background-color: #dfffdf;
	padding:38;
	position:absolute;
	right:43px;
	border-bottom-right-radius: 25px;
}


#rec
{
	background-color: #a8ff80;
	border-style: groove;
  	border-width: 1px;

}
#rectifier
{
	background-color: #dfffdf;
	padding:38;
	position:absolute;
	right:43px;
	border-bottom-right-radius: 25px;
}


#batt
{
	background-color: #b9ff99;
	border-style: groove;
  	border-width: 1px;

}
#battery
{
	background-color: #dfffdf;
	padding:38;
	position:absolute;
	right:43px;
	border-bottom-right-radius: 25px;
}


#ac
{
	background-color: #cbffb3;
	border-style: groove;
  	border-width: 1px;

}
#air
{
	background-color: #dfffdf;
	padding:38;
	position:absolute;
	right:43px;
	border-bottom-right-radius: 25px;
}


#up
{
	background-color: #dcffcc;
	border-style: groove;
  	border-width: 1px;

}
#ups
{
	background-color: #dfffdf;
	padding:38;
	position:absolute;
	right:43px;
	border-bottom-right-radius: 25px;
}


#inv
{
	background-color: #eeffe6;
	border-style: groove;
  	border-width: 1px;

}
#invert
{
	background-color: #dfffdf;
	padding:38;
	position:absolute;
	right:43px;
	border-bottom-right-radius: 25px;
}


#img
{
	background-color: #e6ffe6;
	border-style: groove;
  	border-width: 1px;

}
#imgs
{
	background-color: #dfffdf;
	padding:38;
	position:absolute;
	right:43px;
	border-bottom-right-radius: 25px;
}